body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

.navbar {
    background-color: red;
}

.card {
    background-color: #54C7C2;
    color: white;
}

#location {
    background-color: #54C7C2;
    color: white;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top: 12px;
    background-color: #red;
}